<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ownote.annual.dao.AnnualDao">

    <select id="countAnnual" resultType="Integer">
        SELECT count(*) FROM annual
    </select>


    <insert id="writeAnnual" parameterType="com.project.ownote.annual.dto.AnnualDto">
        insert into annual values (null,#{annual_content},#{annual_startdate},#{annual_enddate},#{anninfo_code},1,1)
    </insert>

<select id="findEmpNameById" parameterType="int" resultType="java.lang.String">
    SELECT emp_name FROM emp WHERE emp_id = 1

</select>
    <select id="codeId" resultType="int">
        select anninfo_date from anninfo where anninfo_code=#{param1}
    </select>
    <select id="checkId" resultType="int">
        select anncheck_pass  from anncheck where anncheck_id
                                                      =#{param1}
    </select>


    <select id="annualAllList" resultType= "com.project.ownote.annual.dto.AnnualDto">
        SELECT a.emp_id, e.emp_name,a.annual_content, a.annual_startdate,
               a.annual_enddate, i.anninfo_date, c.anncheck_id,c.anncheck_pass,
               i.anninfo_name,a.annual_id
        FROM annual a
                 INNER JOIN anninfo i ON a.anninfo_code = i.anninfo_code
                 INNER JOIN anncheck c ON a.anncheck_id = c.anncheck_id
                 INNER JOIN emp e ON a.emp_id  = e.emp_id
    </select>



    <select id="annualListByID" resultType="com.project.ownote.annual.dto.AnnualDto">
        SELECT a.emp_id, a.annual_content, a.annual_startdate,
               a.annual_enddate, i.anninfo_date, c.anncheck_id,c.anncheck_pass,
               i.anninfo_name,a.annual_id
        FROM annual a
                 INNER JOIN anninfo i ON a.anninfo_code = i.anninfo_code
                 INNER JOIN anncheck c ON a.anncheck_id = c.anncheck_id
        WHERE a.emp_id = 1
    </select>


    <delete id="annualDeleteId" parameterType="Long">
        Delete from annual where annual_id = #{annual_id}
    </delete>


    <select id="countAnnualdate" resultType="Integer">
        select anndata_date from anndata where emp_id=1

    </select>

    <update id="updateAnnual" parameterType="com.project.ownote.annual.dto.AnnualDto">
        UPDATE annual
        SET
            annual_content = #{annual_content},
            annual_startdate = #{annual_startdate},
            annual_enddate = #{annual_enddate},
            anninfo_code = #{anninfo_code}

        WHERE
            annual_id = #{annual_id}
    </update>





        <update id="updateAnndataDate" parameterType="map">
            UPDATE ann_data
            SET anndata_date = anndata_date -
                               CASE anncheck_code
                                   WHEN 1 THEN 0.25
                                   WHEN 2 THEN 0.5
                                   WHEN 3 THEN 1
                                   ELSE 0
                                   END
            WHERE anninfo_code = 1
        </update>


</mapper>
